.lightmode {
  --background-sidebar: rgb(243 244 246);
  --text-color-sidebar: #6e6ade;
  --border-color-sidebar: #6e6ade;
}

.darkmode {
  --background-sidebar: rgb(31 41 55);
  --submenu-background-sidebar: rgb(55 65 81);
  --text-color-sidebar: rgb(243 244 246);
  --border-color-sidebar: rgb(55 65 81);
  transition: background-color 0.3s ease;
}

.sidebar {
  background-color: var(--background-sidebar);
  color: var(--text-color-sidebar);
  height: 100vh; /* para ocupar toda a altura da tela */
  font-size: 14px;

  border-style: solid;
  border-width: 2px;
  border-color: var(--border-color-sidebar);
}

.navbar {
  background-color: var(--background-sidebar);
  color: var(--text-color-sidebar);
  height: 6vh;
  align-items: center;

  border-style: none none solid none;
  border-width: 2px;
  border-color: var(--border-color-sidebar);
  transition: background-color 0.3s ease;
}

.menuseparator {
  display: flex-row;
  gap: 8px;
  padding: 4px;
  border-style: none none solid none;
  border-width: 2px;
  border-color: var(--border-color-sidebar);
}

.components {
  background-color: var(--background-sidebar);
  color: var(--text-color-sidebar);
  border-color: var(--border-color-sidebar);
  border-width: 2px;
  transition: background-color 0.3s ease;
}
